<template>
  <div id="block-speechlist" class="card z-depth-0 grey lighten-4">
    <!-- Moderator block to add speakers -->

    <div class="card-header">
      <h6>{{ title }}</h6>

      <!-- Moderator stuff-->
      <!-- Moderator can speak -->
      <div v-if="topic.speechAvailable && delegate.canManageSpeechlist && delegate.canAddSpeech"
           class="fixed-action-btn moderator-speechlist-btn" >
        <a class="mdl-button mdl-button--fab mdl-button--colored primary-color mdl-button--topic-header btn-floating"
           href="#"><i class="fa fa-plus fa-fw material-icons"></i></a>
        <ul>
          <li>
            <a class="btn-floating light-blue darken-3" v-on:click.prevent="addMe"><i class="fa fa-user-plus"></i></a>
          </li>
          <li><a class="btn-floating light-blue darken-4" v-on:click.prevent="showAddMe"><i class="fa fa-users"></i></a></li>
        </ul>
      </div>
      <!-- Moderator cannot speak -->
      <a v-if="topic.speechAvailable && delegate.canManageSpeechlist && !delegate.canAddSpeech"
         class="mdl-button mdl-button--fab mdl-button--colored primary-color mdl-button--topic-header"
         v-on:click.prevent="showAddMe">
        <i class="fa fa-users fa-fw material-icons"></i></a>

      <!-- Non-moderator and has right to speak -->
      <a v-if="topic.speechAvailable && !delegate.canManageSpeechlist && delegate.canAddSpeech"
         class="mdl-button mdl-button--fab mdl-button--colored primary-color mdl-button--topic-header"
         v-on:click.prevent="addMe">
        <i class="fa fa-user-plus fa-fw material-icons"></i></a>
    </div>

    <div class="card-block speech-block">
      <!-- Empty speechlist -->
      <table class="table-sm" >
        <tr v-if="emptySpeechList"><td>
          <div class="empty-block-text-style text-center">
            {{ emptyListString }}
            <br v-if="emptyListStringAdd" />
            {{ emptyListStringAdd }}
          </div>
        </td></tr>

        <tr v-for="(speaker, index) in speechlist">
          <td class="pr-3 speech-id">{{ index + 1 }}</td>
          <td class="speech-name">{{ speaker.name }}</td>
          <td class="speech-controls text-nowrap">
            <span class="speech-length">{{ speaker.time_left }}</span>

            <!-- Moderator stuff -->
            <div class="btn-group dropnone" v-if="delegate.canManageSpeechlist">
              <a href="#" :id="'dropdownMenuSpeech' + index"
                 class="moderator-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" :aria-labelledby="'dropdownMenuSpeech' + index"
                   data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <a href="#" class="dropdown-item" v-on:click.prevent="editMe(speaker)">{{ lblEditTime }}</a>
                <a href="#" class="dropdown-item" v-on:click.prevent="priorityMe(speaker, index + 1)">{{ lblPriority }}</a>
                <a href="#" class="dropdown-item" v-on:click.prevent="markMeLast(speaker, index + 1)">{{ lblMarkLast }}</a>
                <a href="#" class="dropdown-item" v-on:click.prevent="deleteMe(speaker)">{{ lblDelete }}</a>
              </div>
            </div>
            <a href="#" class="delete-own" v-if="canManageOwn(speaker)"
               v-on:click.prevent="deleteMe(speaker)"><i class="fa fa-times-circle red-text lighten-1" aria-hidden="true"></i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
  import store from '../store/index.js';
  import { mapGetters, mapActions } from 'vuex';

  export default{
    components: {
    },

    mounted() {
      /*this
        .$on('SuggestionCreated', (e) => {
          this.suggestionList.unshift(e);
        })
        .$on('SuggestionUpdated', (e) => {
          Vue.set(this.suggestionList, this.suggestionList.findIndex(item => item.id === e.id), e);
        })
        .$on('SuggestionDeleted', (e) => {
          this.suggestionList = this.suggestionList.filter(item => item.id !== e.id);
        });*/
    },

    data() {
      return {
        emptyListString: Lang.get('messages.now.speechlist.empty'),

        lblEditTime: Lang.get('messages.now.speechlist.edit-time'),
        lblPriority: Lang.get('messages.now.speechlist.priority'),
        lblMarkLast: Lang.get('messages.now.speechlist.mark-last'),
        lblDelete: Lang.get('messages.now.speechlist.delete'),
      }
    },

    props: {
    },

    computed: {
      ...mapGetters({
        delegate: 'delegate/get',
        route: 'route/url',
        topic: 'topic/get',
        speechlist: 'speechlist/list',
        canManageOwn: 'delegate/rightManageOwnSpeech',
        isOwnSpeech:'delegate/isOwnSpeech',
      }),

      title() {
        if (this.emptySpeechList) {
          return Lang.choice('messages.now.speechlist.ttl-count-0')
        }

        return Lang.choice('messages.now.speechlist.ttl-count', this.speechlist.length, {speechlist: this.speechlist.length});
      },

      emptySpeechList() {
        return (this.speechlist === null || this.speechlist.length === 0);
      },

      emptyListStringAdd() {
        return this.delegate.canAddSpeech ? Lang.get('messages.now.speechlist.empty-can-add') : '' ;
      },
    },

    methods: {
      showAddMe() {
        this.$emit('show-modal-child', {
          modalTarget: 'blockAddSpeaker',
        });
      },

      addMe() {
        this.$emit('show-modal-child', {
          modalTarget: 'modal',
          modalTitle: Lang.get('messages.now.speechlist.mdl-ttl-add-myself'),
          modalBody: Lang.get('messages.now.speechlist.mdl-txt-add-myself', {topicName: this.topic.name}),
          okFunc: 'objAction',
          okArgs: {
            url: this.route('speechlist', 'store'),
            method: "post",
            data: { delegate_id: this.delegate.id},
            reload: false
          }
        });
      },

      editMe(speaker) {
        this.$emit('show-modal-child', {
          modalTarget: 'modalSpeakerLength',
          modalTitle: Lang.get('messages.now.speechlist.mdl-ttl-length'),
          modalBody: Lang.get('messages.now.speechlist.mdl-txt-length', {user: speaker.name}),
          length: speaker.length / 60,
          okFunc: 'objAction',
          okArgs: {
            url: this.route('speechlist', 'edit-length', speaker.id),
            method: "post",
            data: { delegate_id: this.delegate.id},
            reload: false
          },
        });
      },

      priorityMe(speaker, index) {
        this.$emit('show-modal-child', {
          modalTarget: 'modalSpeakerPriority',
          modalTitle: Lang.get('messages.now.speechlist.mdl-ttl-priority'),
          modalBody: Lang.get('messages.now.speechlist.mdl-txt-priority', {user: speaker.name}),
          priority: index,
          okFunc: 'objAction',
          okArgs: {
            url: this.route('speechlist', 'update-priority', speaker.id),
            method: "post",
            data: { speech: speaker.id},
            reload: false
          },
        });
      },

      markMeLast(speaker, index) {
        this.$emit('show-modal-child', {
          modalTarget: 'modal',
          modalTitle: Lang.get('messages.now.speechlist.mdl-ttl-mark-as-last'),
          modalBody: Lang.get('messages.now.speechlist.mdl-txt-mark-as-last', {user: speaker.name, topic:this.topic.name, number: index}),
          priority: index,
          okFunc: 'objAction',
          okArgs: {
            url: this.route('speechlist', 'mark-last', speaker.id),
            method: "post",
            reload: false
          },
        });
      },

      deleteMe(speaker) {
        this.$emit('show-modal-child', {
          modalTarget: 'modal',
          modalTitle: Lang.get('messages.now.speechlist.mdl-ttl-delete'),
          modalBody: this.isOwnSpeech(speaker)
            ? Lang.get('messages.now.speechlist.mdl-txt-delete-myself')
            : Lang.get('messages.now.speechlist.mdl-txt-delete', {user: speaker.name}),
          okFunc: 'objTrash',
          okArgs: {
            url: this.route('speechlist', 'delete', speaker.id),
            method: "delete",
            reload: false
          }
        });
      },

    },
  }
</script>
