<template>
<div>
  <div class="modal fade modal-ext show" id="vote-wnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header justify-content-center flex-column">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
          <h5 class="modal-title">{{ title }}</h5>
          <div class="timer" v-if="topic.voting_available">{{ voteTimeLeftMinutes | two_digits }}:{{ voteTimeLeftSeconds | two_digits }}</div>
        </div>
        <!--Body-->
        <div class="modal-body">
          <h4 class="topic-header">{{ topic.name }}</h4>
          <div class="topic-description">
            {{ topic.description }}
          </div>
        </div>
        <!--Footer-->

        <!-- Auto Voting -- Voting Answers -->
        <div class="modal-footer" v-if="topic.voting_available && delegate.canVote && topic.voting_type == 'auto'">
          <form class="form-inline justify-content-around" v-if="topic.voting_settings.answers">
            <fieldset class="form-group align-self-center" v-for="(item, index) in topic.voting_settings.answers">
              <input name="answer" type="radio" :id="'answer' + index" v-model="vote" :value="item">
              <label :for="'answer' + index">{{ item }}</label>
            </fieldset>
          </form>
        </div>

        <!-- Manual Voting -- Voting Answers -->
        <div class="modal-body" v-if="topic.voting_available && delegate.canModerate && topic.voting_type == 'manual'">
          <h5>{{ manualVotingModeratorTitle }}</h5>
          <form v-if="topic.voting_settings.answers" class="row" id="manual-form">
            <div class="md-form form-group col-6" v-for="(item, index) in topic.voting_settings.answers">
              <input type="number" :id="'answer' + index" class="form-control" :name="item"
                     min="0" max="100000" step="1" onblur="this.checkValidity()">
              <label :for="'answer' + index">{{ item }}</label>
            </div>
          </form>
        </div>

        <!-- Manual voting -- Delegates side -->
        <div class="modal-body pb-4" v-if="topic.voting_available && !delegate.canModerate && delegate.canVote && topic.voting_type == 'manual'">
          <h5>{{ manualVotingDelegateTitle }}</h5>
          <ul v-if="topic.voting_settings.answers">
            <li v-for="(item, index) in topic.voting_settings.answers">{{ item }}</li>
          </ul>
        </div>

        <div class="modal-footer justify-content-center" v-if="topic.voting_available && !delegate.canModerate && !delegate.canVote">
          <h5>{{ noRightsTitle }}</h5>
        </div>

        <!-- Moderator buttons during voting -->
        <div class="modal-footer" v-if="topic.voting_available && delegate.canModerate">
          <button type="button" class="btn-flat btn-sm waves-effect"
                  @click.prevent="cancel">{{ cancelVotingBtn }}</button>
          <button type="button" class="btn-flat btn-sm dark-amber-text waves-effect"
                  @click.prevent="finish">{{ finishVotingBtn }}</button>
        </div>

        <!-- Voting results -->
        <div class="modal-footer flex-column" v-if="!topic.voting_available && topic.voting_results">
          <div class="mb-1">{{ votedDelegatesLbl }}</div>
          <div class="justify-content-around" v-for="(item, index) in topic.voting_results.votes">
            <div class="align-self-center">{{ index }} - {{ item }} ({{ calcVotingPercent(item) }} / {{ calcGeneralPercent(item) }})</div>
          </div>
        </div>

        <!-- Moderator buttons after voting  -->
        <div class="modal-footer" v-if="!topic.voting_available && topic.voting_results && delegate.canModerate">
          <button type="button" class="btn-flat btn-sm waves-effect"
                  @click.prevent="cancel">{{ cancelVotingBtn }}</button>
          <button type="button" class="btn-flat btn-sm waves-effect dark-amber-text"
                  @click.prevent="close">{{ closeVotingBtn }}</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</div>
</template>
<script>
/* TODO: Move timer to the outer service/component/mixin/etc */
import store from '../store/index.js';
import { mapGetters, mapActions } from 'vuex';

export default{
  mounted() {
    this.startCountDown();
  },

  data() {
    return {
      title: Lang.get('messages.now.vote.title'),
      cancelVotingBtn: Lang.get('messages.now.vote.btn-cancel'),
      finishVotingBtn: Lang.get('messages.now.vote.btn-finish'),
      closeVotingBtn: Lang.get('messages.now.vote.btn-close'),
      manualVotingModeratorTitle: Lang.get('messages.now.vote.lbl-manual-voting-moderator'),
      manualVotingDelegateTitle: Lang.get('messages.now.vote.lbl-manual-voting-delegate'),
      noRightsTitle: Lang.get('messages.now.vote.lbl-no-rights'),

      vote: null,

      voteTimer: null,
      voteTimeLeftMinutes: 0,
      voteTimeLeftSeconds: 0,
    }
  },

  watch : {
    vote: function (vote) {
      if (vote !== null) {
        axios.post(this.route('topic', 'vote'), {vote: vote}).catch(error => {
          if (error.response
            && typeof error.response.data !== 'undefined'
            && typeof error.response.data.error !== 'undefined') {
            toastr.error(error.response.data.error);
          }
          else {
            toastr.error(Lang.get('messages.now.vote.vote-fail'));
          }
        });
      }
    }
  },

  computed: {
    ...mapGetters({
      topic: 'topic/get',
      delegate: 'delegate/get',
      route: 'route/url',
    }),

    votedDelegatesLbl: function () {
      return Object.keys(this.topic.voting_results).length !== 0
        ? Lang.get('messages.now.vote.lbl-results', {
          total: this.topic.voting_results.delegatesCount,
          votes: this.topic.voting_results.votesCount
        })
        : '';
    },

    voteTimeLeft: function() {
      if (this.voteTimer) {
        window.clearInterval(this.voteTimer);
      }

      this.startCountDown();

      return this.topic.voting_time_left;
    },
  },

  methods: {
    calcVotingPercent: function(number) {
      return (Object.keys(this.topic.voting_results).length !== 0
          ? Math.round(number * 10000 / this.topic.voting_results.votesCount) / 100
          : 0) + '%';
    },

    calcGeneralPercent: function(number) {
      return (Object.keys(this.topic.voting_results).length !== 0
          ? Math.round(number * 10000 / this.topic.voting_results.delegatesCount) / 100
          : 0) + '%';
    },

    startCountDown() {
      if (this.topic.voting_time_left && this.topic.voting_time_left !== '00:00') {
        var time = this.topic.voting_time_left.split(':');
        this.voteTimeLeftSeconds = parseInt(time[1]);
        this.voteTimeLeftMinutes = parseInt(time[0]);
        this.voteTimer = window.setInterval(() => {
          this.countDown();
        }, 1000);
      }
    },

    countDown() {
      this.voteTimeLeftSeconds -= 1;
      if (this.voteTimeLeftSeconds < 0) {
        this.voteTimeLeftMinutes -= 1;
        this.voteTimeLeftSeconds = 59;
      }
      if (this.voteTimeLeftMinutes < 0) this.voteTimeLeftMinutes = 0;
      if (this.voteTimeLeftMinutes <= 0 && this.voteTimeLeftSeconds <= 0) {
        window.clearInterval(this.voteTimer);
      }
    },

    end (path, successMsg, failMsg, data) {
      if (typeof data === 'undefined') data = {};

      axios.post(this.route('topic', path), data)
        .then(response => {
          if (response.status === 200) {
            toastr.success(Lang.get('messages.now.vote.' + successMsg));
          }
        }).catch(error => {
        if (error.response
          && typeof error.response.data !== 'undefined'
          && typeof error.response.data.error !== 'undefined') {
          toastr.error(error.response.data.error);
        }
        else {
          toastr.error(Lang.get('messages.now.vote.' + failMsg));
        }
      });
    },

    cancel () {
      this.end('voting-cancel', 'cancel-success', 'cancel-fail');
    },

    finish () {
      let answers = {}, results = {}, type = 'voting-auto';

      if (this.topic.voting_type === 'manual') {
        type = 'voting-manual';

        $('#manual-form input').each(function (index, element) {
          answers[$(element).attr("name")] = $(element).val() ? $(element).val() : 0;
        });

        results.answers = answers;
      }

      this.end(type, 'finish-success', 'finish-fail', results);
    },

    close () {
      axios.post(this.route('topic', 'status'), {status: 'closed'})
        .then(response => {
          if (response.status === 200) {
            toastr.success(Lang.get('messages.now.topic.status-change-success'));
          }
        }).catch(error => {
        if (error.response
          && typeof error.response.data !== 'undefined'
          && typeof error.response.data.error !== 'undefined') {
          toastr.error(error.response.data.error);
        }
        else {
          toastr.error(Lang.get('messages.now.topic.status-change-fail'));
        }
      });
    }
  },
}
</script>
