<template>
  <div class="card z-depth-0">
    <!-- Suggestions header  -->
    <div class="card-header grey lighten-4">
      <h6>{{ title }}</h6>
      <a class="mdl-button mdl-button--fab mdl-button--colored amber darken-4 mdl-button--topic-header" href="#"
         v-on:click.prevent="addMe" v-if="delegate.canAddSuggestion"><i class="fa fa-plus fa-fw material-icons"></i></a>
    </div>
    <!-- Suggestion list -->
    <div class="card-block suggestions-block">
      <div class="empty-block-text-style text-center" v-if="emptySuggestionList">
        {{ emptyListString }}
        <br v-if="emptyListStringAdd" />
        {{ emptyListStringAdd }}
      </div>
      <template v-for="suggestion in suggestionList">
        <div class="suggestion">
          <div class="row">
            <div class="col">
              <span class="suggestion-author pr-1">{{ suggestion.username }}:</span>
              <span class="suggestion-header">{{ suggestion.summary }}</span>
            </div>
            <div class="col-1 text-right" v-if="delegate.canManageSuggestion">
              <div class="btn-group dropnone">
                <a href="#" :id="'dropdownMenuSuggestion' + suggestion.id" class="moderator-menu-btn"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" :aria-labelledby="'dropdownMenuSuggestion' + suggestion.id"
                     data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a href="#" class="dropdown-item" v-on:click.prevent="editMe(suggestion)">{{ editBtn }}</a>
                  <a href="#" class="dropdown-item" v-on:click.prevent="deleteMe(suggestion)">{{ deleteBtn }}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="suggestion-body">
            {{ suggestion.details }}
          </div>
          <div class="suggestion-controls">
            <template v-if="rightManageOwnSuggestion(suggestion) && !delegate.canManageSuggestion">
              <a href="#" class="text-primary" v-on:click.prevent="editMe(suggestion)">{{ editBtn }}</a>
              <a href="#" class="red-text lighten-1" v-on:click.prevent="deleteMe(suggestion)">{{ deleteBtn }}</a>
            </template>
            <a href="#" v-on:click.prevent="showMe(suggestion)" v-if="!suggestion.isShort">{{ moreBtn }}</a>
          </div>
        </div>
        <hr />
      </template>
    </div>
  </div>
</template>
<script>
import store from '../store/index.js';
import { mapGetters, mapActions } from 'vuex';

export default {
  created() {
    this.getSuggestionList();
  },

  mounted() {
    this
      .$on('SuggestionCreated', (e) => {
        this.suggestionList.unshift(e);
      })
      .$on('SuggestionUpdated', (e) => {
        Vue.set(this.suggestionList, this.suggestionList.findIndex(item => item.id === e.id), e);
      })
      .$on('SuggestionDeleted', (e) => {
        this.suggestionList = this.suggestionList.filter(item => item.id !== e.id);
      });
  },

  data() {
    return {
      suggestionList: [],

      emptyListString: Lang.get('messages.now.suggestions.empty'),
      moreBtn: Lang.get('messages.now.suggestions.btn-more'),
      editBtn: Lang.get('messages.now.suggestions.btn-edit'),
      deleteBtn: Lang.get('messages.now.suggestions.btn-delete'),
    }
  },

  computed: {
    ...mapGetters({
      delegate: 'delegate/get',
      rightManageOwnSuggestion: 'delegate/rightManageOwnSuggestion',
      isOwnSuggestion: 'delegate/isOwnSuggestion',
      route: 'route/url',
    }),

    title() {
      if (this.suggestionList.length === 0) {
        return Lang.choice('messages.now.suggestions.ttl-count-0')
      }

      return Lang.choice('messages.now.suggestions.ttl-count', this.suggestionList.length, {suggestions: this.suggestionList.length})
        + ' ' + Lang.choice('messages.now.suggestions.ttl-delegates', this.delegateCount, {delegates: this.delegateCount});
    },

    delegateCount() {
      return this.suggestionList.map(val => val.owner_id).filter((v, i, a) => a.indexOf(v) === i).length;
    },

    emptySuggestionList() {
      return (this.suggestionList === null || this.suggestionList.length === 0);
    },

    emptyListStringAdd() {
      return this.delegate.canAddSuggestion ? Lang.get('messages.now.suggestions.empty-can-add') : '' ;
    },
  },

  methods: {
    deleteMe(suggestion) {
      this.$emit('show-modal-child', {
        modalTarget: 'modal',
        modalTitle: Lang.get('messages.now.suggestions.mdl-ttl-delete'),
        modalBody: this.isOwnSuggestion(suggestion)
          ? Lang.get('messages.now.suggestions.mdl-txt-delete-own', {summary: suggestion.summary})
          : Lang.get('messages.now.suggestions.mdl-txt-delete', {summary: suggestion.summary, user: suggestion.username}),
        okFunc: 'objTrash',
        okArgs: {
          url: this.route('suggestion', 'delete', suggestion.id),
          method: "delete",
          reload: false
        }
      });
    },

    editMe(suggestion) {
      this.$emit('show-modal-child', {
        modalTarget: 'modalSuggestion',
        id: suggestion.id
      });
    },

    showMe(suggestion) {
      this.$emit('show-modal-child', {
        modalTarget: 'modalSuggestion',
        id: suggestion.id,
        view: true
      });
    },

    addMe() {
      this.$emit('show-modal-child', {
        modalTarget: 'modalSuggestion',
      });
    },

    getSuggestionList() {
      let that = this;
      axios.get(this.route('suggestion', 'index')).then(function(response) {
        that.suggestionList = response.data.suggestions;
      });
    },
  },
}
</script>
