<template>
  <div class="card head" v-bind:class="{ 'topic-disabled': topic.status == 'closed'}">

    <div class="head-title">

      <div class="head-title_row">
        <h5 class="head-title_text">
          <!-- THIS 2. NUMBER TO BE REPLACED BY VARIABLES -->
          2. {{ topic.headline.name }}
        </h5>

        <!-- Moderator stuff -->
        <div class="head-controls dropnone" v-if="delegate.canModerate">

          <button class="head-control has-text-blue"
                  v-if="nextStatus" v-on:click.prevent="changeStatus(nextStatus)">{{ btnChangeStatus }}</button>
          <button class="head-control" v-if="topic.status == 'discussion' && speaker"
                  v-on:click.prevent="actionSpeaker">{{ btnSpeaker }}</button>
          <button class="head-control has-no-appearance" :title="btnSettings"
                  id="dropdownMenuSettings" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-3x"></i></button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuSettings" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
            <a href="#" class="dropdown-item" @click.prevent="showSettingsModal" v-if="topic.status != 'closed'">{{ ddSettings }}</a>
            <a href="#" class="dropdown-item">{{ ddChangeTopic }}</a>
          </div>
        </div>
      </div>

      <h2 class="head-title_subtext">
        <!-- THIS 2.1 NUMBERS TO BE REPLACED BY VARIABLES -->
        2.1. {{ topic.name }}
      </h2>

    </div>

    <!-- Topic stuff -->
    <div class="head-content" v-bind:class="{ 'not-active': speaker && !speaker.active }">

      <!-- Current/Next speaker -->
      <div class="head-content_block">
        <label class="head-content_label" v-if="speaker && speaker.active">{{ lblCurrentSpeaker }}</label>
        <label class="head-content_label" v-if="speaker && !speaker.active">{{ lblNextSpeaker }}</label>
        <h3 v-if="speaker">{{ speaker.name }}</h3>
        <h3 v-if="!speaker">{{ lblNoSpeaker }}</h3>
      </div>

      <!-- Timer -->
      <div class="timer head-content_block" v-if="speaker" v-bind:class="{'text-danger': timerSign }">
        <span class="text-danger" v-if="timerSign">-</span>{{ timerLeftMinutes | two_digits }}:{{ timerLeftSeconds | two_digits }}
      </div>

      <div class="timer head-content_block" v-if="!speaker"></div>

      <!-- Additional stuff: materials -->
      <div class="head-content_block text-right">
        <a :href="route('topic', 'files')" v-if="topic.filesCount">
          {{ msgFiles }}
          <i class="fa fa-chevron-right"></i>
        </a>
        <span v-else>{{ msgFiles }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store/index.js';
import { mapGetters, mapActions } from 'vuex';

export default {
  components: {
  },

  created() {
    this.updateTopicStatus(this.topic.status);
    this.updateTopicFiles(this.topic.filesCount);
    this.updateSpeakerBtn(this.speaker);
  },

  mounted() {
    this.calcTimer();
    this.startCountDown();
  },

  computed: {
    ...mapGetters({
      delegate: 'delegate/get',
      route: 'route/url',
      topic: 'topic/get',
      speaker: 'speechlist/current'
    }),

    /* TODO: Should we remove this? */
    timerLeft: function() {
      if (this.timer) {
        window.clearInterval(this.timer);
      }

      this.startCountDown();

      return this.speaker.time_left;
    },
  },

  data: function () {
    return {
      btnChangeTopic: Lang.get('messages.now.topic.btn-change-topic'),
      btnSettings: Lang.get('messages.now.topic.btn-settings'),

      ddSettings: Lang.get('messages.now.topic.btn-settings'),
      ddChangeTopic: Lang.get('messages.now.topic.btn-change-topic'),
      ddNewTopic: Lang.get('messages.now.topic.btn-new-topic'),

      btnChangeStatus: null,
      nextStatus: null,

      ddStartSpeech: Lang.get('messages.now.speechlist.btn-start'),
      ddStopSpeech: Lang.get('messages.now.speechlist.btn-stop'),
      btnSpeaker: null,

      lblCurrentSpeaker: Lang.get('messages.now.speechlist.lbl-current-speaker'),
      lblNextSpeaker: Lang.get('messages.now.speechlist.lbl-next-speaker'),
      lblNoSpeaker: Lang.get('messages.now.speechlist.lbl-no-speaker'),

      msgFiles: null,

      timer: null,
      timerLeftMinutes: 0,
      timerLeftSeconds: 0,
      timerSign:0,
    }
  },

  watch: {
    topic: function (val) {
      this.updateTopicStatus(val.status);
      this.updateTopicFiles(val.filesCount);
    },

    speaker: function (val) {
      this.updateSpeakerBtn(val);

      if (this.timer) {
        window.clearInterval(this.timer);
        this.timer = null;
      }

      this.calcTimer();
      this.startCountDown();
    }
  },

  props: { },
  methods: {
    updateSpeakerBtn(speaker) {
      this.btnSpeaker = speaker && speaker.active ? this.ddStopSpeech : this.ddStartSpeech;
    },

    updateTopicStatus(status) {
      if (status === 'open') this.nextStatus = 'discussion';
      else if (status === 'discussion') this.nextStatus = 'voting';
      else if (status === 'voting') this.nextStatus = 'closed';
      else if (status === 'closed') this.nextStatus = null;

      this.btnChangeStatus =
        this.nextStatus ? Lang.get('messages.now.topic.btn-to-' + this.nextStatus) : null;
    },

    updateTopicFiles(count) {
      this.msgFiles = (count > 0)
        ? Lang.choice('messages.now.topic.files-count', count, {count : count})
        : '';
    },

    changeStatus(status) {
      if (status === 'voting') {
        this.$emit('show-modal-child', {
          modalTarget: 'modalVotingStart',
        });
      } else if(status === 'discussion' || status === 'closed') {
        axios.post(this.route('topic', 'status'), {status: status})
          .then(response => {
            if (response.status === 200) {
              toastr.success(Lang.get('messages.now.topic.status-change-success'));
            }
          }).catch(error => {
          if (error.response
            && typeof error.response.data !== 'undefined'
            && typeof error.response.data.error !== 'undefined') {
            toastr.error(error.response.data.error);
          }
          else {
            toastr.error(Lang.get('messages.now.topic.status-change-fail'));
          }
        });
      }
    },

    actionSpeaker() {
      let action = 'start';
      if (this.speaker.active) {
        action = 'stop';
      }

      axios.post(this.route('speechlist', action, this.speaker.id))
        .then(response => {
          if (response.status === 200) {
            toastr.success(Lang.get('messages.now.speechlist.' + action + '-success'));
          }
        }).catch(error => {
        if (error.response
          && typeof error.response.data !== 'undefined'
          && typeof error.response.data.error !== 'undefined') {
          toastr.error(error.response.data.error);
        }
        else {
          toastr.error(Lang.get('messages.now.speechlist.' + action + '-fail'));
        }
      });
    },

    showSettingsModal() {
      this.$emit('show-modal-child', {
        modalTarget: 'modalTopicSettings',
      });
    },

    calcTimer() {
      if ( this.speaker) {
        var time = this.speaker.time_left.split(':');
        this.timerLeftMinutes = Math.abs(time[0]);
        this.timerLeftSeconds = Math.abs(time[1]);
        this.timerSign = !!time[0].match(/-/);
      } else {
        this.timerLeftMinutes = 0;
        this.timerLeftSeconds = 0;
        this.timerSign = null;
      }
    },

    startCountDown() {
      if (this.speaker && this.speaker.time_left && this.speaker.active && this.timer === null) {
        this.timer = window.setInterval(() => {
          this.countDown();
        }, 1000);
      }
    },

    countDown() {
      if (this.timerLeftMinutes === 0 && this.timerLeftSeconds === 0) {
        this.timerSign = true;
      }
      if (!this.timerSign) {
        this.timerLeftSeconds -= 1;
        if (this.timerLeftSeconds < 0) {
          this.timerLeftMinutes -= 1;
          this.timerLeftSeconds = 59;
        }
      } else {
        this.timerLeftSeconds += 1;
        if (this.timerLeftSeconds >= 59) {
          this.timerLeftMinutes += 1;
          this.timerLeftSeconds = 0;
        }
      }
    },
  }
}
</script>
