<template>
  <div id="block-add-speaker" class="card z-depth-0 grey lighten-4 d-flex flex-column" v-if="data">
    <div class="card-header align-self-start">
      <h6>{{ header }}</h6>
    </div>
    <div class="autocomplete-block align-self-stretch">
      <autocomplete
        :url="route('speechlist', 'delegates')"
        anchor="name"
        label="role"
        :init-value="speakerName"
        :on-select="selectSpeaker"
        :min="2">
      </autocomplete>
    </div>
    <div class="align-self-end">
      <button type="button" class="btn-flat btn-sm dark-amber-text waves-effect" @click.prevent="cancelBtn">{{ cancelBtnText }}</button>
      <button type="submit" class="btn-flat btn-sm waves-effect" @click.prevent="okBtn">{{ okBtnText }}</button>
    </div>
  </div>
</template>

<script>
import Autocomplete from 'vue2-autocomplete-js';
import store from '../store/index.js';
import { mapGetters, mapActions } from 'vuex';

export default {
  components: { Autocomplete },

  mounted() {
    this.header = Lang.get('messages.mdl.speaker-add.ttl');
    this.okBtnText = Lang.get('messages.mdl.speaker-add.btn-ok');
    this.cancelBtnText = Lang.get('messages.mdl.speaker-add.btn-cancel');
  },

  data: function () {
    return {
      header: null,
      cancelBtnText:null,
      okBtnText: null,
      speakerName: null,
      selected: null
    }
  },
  props: {
    data: {
      type: Object,
      default: false
    },
  },

  computed: {
    ...mapGetters({
      delegate: 'delegate/get',
      route: 'route/url',
      topic: 'topic/get',
      speechlist: 'speechlist/list'
    }),
  },

  methods: {
    selectSpeaker(obj) {
      this.selected = obj;
    },

    okBtn () {
      axios.post(this.route('speechlist', 'store'), {
        delegate_id: this.selected.id
      })
      .then(response => {
        if (response.status === 200) {
          this.$emit('modal-shown', this.$options.name);
          toastr.success(Lang.get('messages.mdl.speaker-add.success'));
        }
      })
      .catch(error => {
        if (error.response) {
          toastr.error(error.response.data.error);
        } else {
          toastr.error(Lang.get('messages.action-fail'));
        }
      });
    },

    cancelBtn() {
      this.$emit('modal-shown', this.$options.name);
    }
  }
}
// https://github.com/BosNaufal/vue2-autocomplete
  //:get="route('speechlist', 'delegates')"
//:post="route('speechlist', 'store')"
</script>
