<template>
  <div class="modal fade" id="modal-delegates-upload-wnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" :action="url" >
          <input type="hidden" name="_token" :value="csrf_field">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">{{ title }}</h5>
          </div>
          <!--Body-->
          <div class="modal-body row">
            <div class="file-field col-12">
              <div class="text-danger" data-type="error-field"></div>
              <div class="btn btn-primary btn-sm">
                <span>{{ selectBtn }}</span>
                <input type="file" name="file" required
                       data-rule-extension="xls|xlsx|csv|ods"
                       data-rule-accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet|application/msexcel|application/vnd.ms-excel|text/csv|text/xls|application/vnd.oasis.opendocument.spreadsheet"
                       data-rule-filesize="52428800">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" :placeholder="selectPlaceholder">
              </div>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn-flat btn-sm dark-amber-text waves-effect" data-dismiss="modal">{{ cancelBtnText }}</button>
            <button type="submit" class="btn-flat btn-sm waves-effect">{{ okBtnText }}</button>
          </div>
        </form>
      </div>
      <!--/.Content-->
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.obj = $('#modal-delegates-upload-wnd');
  },
  data: function () {
    return {
      obj: null,
      title: null,
      body: null,
      okBtnText: null,
      cancelBtnText: null,
      selectBtn: null,
      selectPlaceholder: null,
      url: null,
      csrf_field: null
    }
  },
  props: {
    data: {
      type: Object,
      default: null
    }
  },
  watch: {
    data: function () {
      if (this.data !== null) {
        this.showMe();
      }
    }
  },
  methods: {
    showMe () {
      this.obj.modal('show');
      this.title = this.data.modalTitle || Lang.get('messages.mdl.delegates-upload-title');
      this.body = this.data.modalBody || Lang.get('messages.mdl.delegates-upload-body');
      this.okBtnText = this.data.okBtnText || Lang.get('messages.mdl.delegates-upload-btn-ok');
      this.cancelBtnText = this.data.cancelBtnText || Lang.get('messages.mdl.delegates-upload-btn-cancel');
      this.selectBtn = Lang.get('messages.mdl.delegates-upload-btn-select');
      this.selectPlaceholder = Lang.get('messages.mdl.delegates-upload-btn-placeholder');

      this.url = this.data.url || null;
      this.csrf_field = Laravel.csrfToken;
      this.$emit('modal-shown', this.$options.name);

      let validator = $("form", this.obj).validate({
        submitHandler: function(form) {
          form.submit();
        },
        messages: {
          file: {
            accept: Lang.get('messages.validation.type', {types: 'xls, xlsx, csv, ods'}),
            extension: Lang.get('messages.validation.type', {types: 'xls, xlsx, csv, ods'}),
            filesize: Lang.get('messages.validation.size', {size: '50Mb'})
          }
        },
        errorLabelContainer: $("[data-type=error-field]", this.obj)
      });
    }
  }
}
</script>
