<template>
  <div class="modal fade" id="modal-topic-settings-wnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{ title }}</h5>
        </div>
        <!--Body-->
        <div class="modal-body">
          <div class="md-form form-group mt-1">
            <input id="topic-speech_times" type="number" :min="speech_min" :max="speech_max"
                   class="form-control" name="speech_times" required maxlength="1"
                   ref="input" v-model.number="speech_times" v-on:input="updateSpeechLength($event.target.value)">
            <label for="topic-speech_times">{{ lblSpeechTimes }}</label>
          </div>

          <div class="row">
            <div class="col-12">
              <h6 class="mb-1">{{ lblSpeechLength }}</h6>
            </div>
            <div class="col md-form js-topic-speech-length" v-for="i in speech_max">
              <div class="form-group" :id="'speech-length' + i">
                <input :id="'topic-speech_length_' + i" type="number" min="1" max="90" class="form-control"
                       :name="'speech_length[' + i + ']'" v-model.number="speech_length[i]" maxlength="2"
                       v-on:input="checkErrSpeechLength()">
                <label :for="'topic-speech_length_' + i" class="pl-3">{{ lblSpeechLengthLabel(i) }}</label>
              </div>
            </div>
            <div class="text-danger text-size-sm col-12 widget-custom-error" v-if="errSpeechLength">{{ lblSpeechLengthError }}</div>
          </div>
          <div class="md-form">
            <fieldset class="form-group">
              <input type="checkbox" id="topic-speech_opened" name="speech_opened"
                     v-model="speech_opened" value="1">
              <label for="topic-speech_opened">{{ lblSpeechOpened }}</label>
            </fieldset>
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer">
          <button type="button" class="btn-flat btn-sm waves-effect" data-dismiss="modal">{{ cancelBtnText }}</button>
          <button type="submit" class="btn-flat btn-sm dark-amber-text waves-effect" v-on:click.prevent="okBtn">{{ okBtnText }}</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</template>
<script>
import store from '../store/index.js';
import { mapGetters, mapActions } from 'vuex';

export default {
  mounted() {
    this.obj = $('#modal-topic-settings-wnd');
    this.updateSettings();
  },

  data: function () {
    return {
      obj: null,

      title: Lang.get('messages.now.topic.settings-title'),
      okBtnText: Lang.get('messages.now.topic.btn-ok'),
      cancelBtnText: Lang.get('messages.now.topic.btn-cancel'),

      lblSpeechTimes:  Lang.get('messages.now.topic.lbl-speech-times'),
      lblSpeechLength: Lang.get('messages.now.topic.lbl-speech-length'),
      lblSpeechOpened: Lang.get('messages.now.topic.lbl-speech-opened'),

      lblSpeechLengthError: Lang.get('messages.now.topic.err-speech-length'),
      errSpeechLength: false,

      speech_opened: null,
      speech_length: {1:0, 2:0, 3:0},
      speech_times: null,
      speech_min: 1,
      speech_max: 3,
    }
  },

  props: {
    data: {
      type: Object,
      default: null
    }
  },

  watch: {
    data: function () {
      if (this.data !== null) {
        this.showMe();
      }
    },
  },

  computed: {
    ...mapGetters({
      route: 'route/url',
      topic: 'topic/get',
    }),
  },

  methods: {
    lblSpeechLengthLabel(i) {
      switch (i) {
        case 1:
          return Lang.get('messages.now.topic.lbl-speech-time-first');
          break;
        case 2:
          return Lang.get('messages.now.topic.lbl-speech-time-second');
          break;
        case 3:
          return Lang.get('messages.now.topic.lbl-speech-time-third');
          break;
        default:
          return i + Lang.get('messages.now.topic.lbl-speech-time-other');
          break;
      }
    },
    updateSettings() {
      this.speech_opened = this.topic.speech_opened;
      this.speech_times = this.topic.speech_times;
      this.speech_length = this.topic.speech_length;

      this.speech_min = this.topic.default_speech_settings.count_min;
      this.speech_max = this.topic.default_speech_settings.count_max;

      this.updateSpeechLength(this.speech_times);
    },

    updateSpeechLength(value) {
      $('.js-topic-speech-length').hide();
      $('.js-topic-speech-length input').prop('required', false);
      for(let i = 1; i <= value; i++) {
        $('#topic-speech_length_' + i).prop('required', true);
        $('#topic-speech_length_' + i).parents('.js-topic-speech-length').show();
      }

      this.checkErrSpeechLength();
    },

    checkErrSpeechLength() {
      let err = false;

      for (let i = 1; i <= this.speech_times; i++) {
        if (typeof this.speech_length[i] !== 'number' || this.speech_length[i] <= 0) err = true ;
      }

      this.errSpeechLength = err;
    },

    showMe () {
      this.obj.modal('show');
      this.updateSettings();
      this.$emit('modal-shown', this.$options.name);
    },

    okBtn () {
      if (this.errSpeechLength) return;

      axios.put(this.route('topic', 'update'), {
        speech_length: this.speech_length,
        speech_times: this.speech_times,
        speech_opened: this.speech_opened
      }).then(response => {
        if (response.status === 200) {
          this.obj.modal('hide');
          toastr.success(Lang.get('messages.now.topic.settings-update-success'));
        }
      }).catch(error => {
        if (error.response
          && typeof error.response.data !== 'undefined'
          && typeof error.response.data.error !== 'undefined') {
          toastr.error(error.response.data.error );
        }
        else {
          toastr.error(Lang.get('messages.now.topic.settings-update-fail'));
        }
      });
    }
  }
}
</script>
