<template>
  <div class="modal fade" id="modal-speaker-priority-wnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{ title }}</h5>
        </div>
        <!--Body-->
        <div class="modal-body">
          {{ body }}
          <input type="number" name="priority" maxlength="4" min="1" max="9999" v-model="priority"/>
        </div>
        <!--Footer-->
        <div class="modal-footer">
          <button type="button" class="btn-flat btn-sm dark-amber-text waves-effect"
                  data-dismiss="modal">{{ cancelBtnText }}
          </button>
          <button type="submit" class="btn-flat btn-sm waves-effect" @click="okBtn">{{ okBtnText }}</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.obj = $('#modal-speaker-priority-wnd');
  },
  data: function () {
    return {
      obj: null,
      title: null,
      body: null,
      okBtnText: null,
      cancelBtnText: null,
      okFunc: null,
      okArgs: null,
      priority: null,
      initialPriority: null
    }
  },
  props: {
    data: {
      type: Object,
      default: null
    }
  },
  watch: {
    data: function () {
      if (this.data !== null) {
        this.showMe();
      }
    }
  },
  methods: {
    showMe () {
      this.obj.modal('show');
      this.title = this.data.modalTitle || Lang.get('messages.mdl.confirm-title');
      this.body = this.data.modalBody || Lang.get('messages.mdl.confirm-body');
      this.okBtnText = this.data.okBtnText || Lang.get('messages.mdl.confirm-btn-ok');
      this.cancelBtnText = this.data.cancelBtnText || Lang.get('messages.mdl.confirm-btn-cancel');
      this.okFunc = this.data.okFunc || null;
      this.okArgs = this.data.okArgs || null;
      this.priority = this.data.priority || null;
      this.initialPriority = this.data.priority || null;
      this.$emit('modal-shown', this.$options.name);
    },
    okBtn () {
      this.obj.modal('hide');
      if (this.okFunc != null) {
        this.okArgs.data = {priority: this.priority - this.initialPriority};
        window[this.okFunc](this.okArgs);
      }
    }
  }
}
</script>
