<template>
  <div class="modal fade" id="modal-speechlist-wnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" :action="url" >
          <input type="hidden" name="_token" :value="csrf_field">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">{{ title }}</h5>
          </div>
          <!--Body-->
          <div class="modal-body">
            {{ body }}
            <slot name="delegates"></slot>
          </div>

          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn-flat btn-sm dark-amber-text waves-effect" data-dismiss="modal">{{ cancelBtnText }}</button>
            <button type="submit" class="btn-flat btn-sm waves-effect">{{ okBtnText }}</button>
          </div>
        </form>
      </div>
      <!--/.Content-->
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.obj = $('#modal-speechlist-wnd');
  },
  data: function () {
    return {
      obj: null,
      title: null,
      body: null,
      okBtnText: null,
      cancelBtnText: null,
    }
  },
  props: {
    data: {
      type: Object,
      default: null
    }
  },
  watch: {
    data: function () {
      if (this.data !== null) {
        this.showMe();
      }
    }
  },
  methods: {
    showMe () {
      this.obj.modal('show');
      this.title = this.data.modalTitle || Lang.get('messages.mdl.speechlist-title');
      this.body = this.data.modalBody || Lang.get('messages.mdl.speechlist-body');
      this.okBtnText = this.data.okBtnText || Lang.get('messages.mdl.speechlist-btn-ok');
      this.cancelBtnText = this.data.cancelBtnText || Lang.get('messages.mdl.speechlist-btn-cancel');
      this.csrf_field = Laravel.csrfToken;

      this.url = this.data.url || null;
      this.$emit('modal-shown', this.$options.name);
    }
  }
}
</script>
