<template>
  <div class="modal fade" id="modal-voting-start-wnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{ title }}</h5>
        </div>
        <!--Body-->
        <div class="modal-body">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-value="3">3</div>
              <div class="swiper-slide" data-value="5">5</div>
              <div class="swiper-slide" data-value="10">10</div>
              <div class="swiper-slide" data-value="15">15 min</div>
              <div class="swiper-slide" data-value="20">20</div>
              <div class="swiper-slide" data-value="30">30</div>
              <div class="swiper-slide" data-value="45">45</div>
              <div class="swiper-slide" data-value="50">50</div>
              <div class="swiper-slide" data-value="60">60</div>
              <div class="swiper-slide" data-value="90">90</div>
              <div class="swiper-slide" data-value="120">120</div>
            </div>
          </div>

          <h6 class="mb-1">{{ lblType.header }}</h6>
          <fieldset class="form-group">
            <div>
              <input name="type" type="radio" class="with-gap" id="voting-type-auto" value="auto" v-model="type">
              <label for="voting-type-auto">{{ lblType.auto }}</label>
            </div>
            <div>
              <input name="type" type="radio" class="with-gap" id="voting-type-manual" value="manual" v-model="type">
              <label for="voting-type-manual">{{ lblType.manual }}</label>
            </div>
          </fieldset>

          <h6 class="mb-1">{{ lblPrivacy.header }}</h6>
          <fieldset class="form-group">
            <div>
              <input name="privacy" type="radio" class="with-gap" id="voting-privacy-open" value="open" v-model="privacy">
              <label for="voting-privacy-open">{{ lblPrivacy.open }}</label>
            </div>
            <div>
              <input name="privacy" type="radio" class="with-gap" id="voting-privacy-secret" value="secret" v-model="privacy">
              <label for="voting-privacy-secret">{{ lblPrivacy.secret }}</label>
            </div>
          </fieldset>

          <h6 class="mb-1">{{ lblAnswers }}</h6>
          <div v-bind:class="{'has-danger': errTags}">
            <div class="chips chips-placeholder" id="voting-tags"></div>
            <div class="form-control-feedback" v-if="errTags">{{ errTags }}</div>
          </div>
        </div>
        <!--Footer-->
        <div class="modal-footer">
          <button type="button" class="btn-flat btn-sm waves-effect" data-dismiss="modal">{{ cancelBtnText }}</button>
          <button type="submit" class="btn-flat btn-sm dark-amber-text waves-effect" v-on:click.prevent="okBtn">{{ okBtnText }}</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</template>

<script>
require("swiper");
import store from '../store/index.js';
import { mapGetters, mapActions } from 'vuex';

export default {
  mounted() {
    let that = this;
    this.obj = $('#modal-voting-start-wnd');

    $('#voting-tags').material_chip({
      placeholder: Lang.get('messages.now.voting-start.btn-answers-add'),
      secondaryPlaceholder: Lang.get('messages.now.voting-start.btn-answers-add'),
      data: that.tags.map(function (item) {
        return {tag: item}
      }),
    });

    $('#voting-tags').on('chip.add chip.delete', function(e, chip) {
      that.tags = $('#voting-tags').material_chip('data').map(function(val) {
        return val.tag;
      });
    });

    const swiper = this.swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      loop: true,
      slideToClickedSlide: true,
      centeredSlides: true,
      initialSlide:3,
    });

    swiper.on('slideChangeStart', function () {
      const currentSlide = $('.swiper-slide[data-swiper-slide-index=' + swiper.realIndex + ']', '.swiper-container');

      $('.swiper-slide', '.swiper-container').each(function (key, item) {
        $(item).html($(item).data('value'));
      });

      currentSlide.html(currentSlide.data('value') + ' min');
    });
  },

  data: function () {
    return {
      obj: null,
      swiper: null,

      title: Lang.get('messages.now.voting-start.title'),
      lblLength: Lang.get('messages.now.voting-start.lbl-length'),
      lblType: {
        header: Lang.get('messages.now.voting-start.lbl-type-header'),
        auto: Lang.get('messages.now.voting-start.lbl-type-auto'),
        manual: Lang.get('messages.now.voting-start.lbl-type-manual')
      },
      lblPrivacy: {
        header: Lang.get('messages.now.voting-start.lbl-privacy-header'),
        open: Lang.get('messages.now.voting-start.lbl-privacy-open'),
        secret: Lang.get('messages.now.voting-start.lbl-privacy-secret')
      },
      lblAnswers: Lang.get('messages.now.voting-start.lbl-answers'),
      okBtnText: Lang.get('messages.now.voting-start.btn-ok'),
      cancelBtnText: Lang.get('messages.now.voting-start.btn-cancel'),

      errTags: null,

      tags: [
        Lang.get('messages.now.voting-start.tag-answers-yes'),
        Lang.get('messages.now.voting-start.tag-answers-no'),
        Lang.get('messages.now.voting-start.tag-answers-abstained'),
      ],
      type: "auto",
      privacy: "open",
    }
  },

  props: {
    data: {
      type: Object,
      default: null
    }
  },

  watch: {
    data: function () {
      if (this.data !== null) {
        this.showMe();
      }
    },

    tags: function () {
      this.checkTags();
    }
  },

  computed: {
    ...mapGetters({
      route: 'route/url',
    }),
  },

  methods: {
    checkTags() {
      if (this.tags.length <= 1) {
        this.errTags = Lang.get('messages.now.voting-start.err-tags-empty');
        return false;
      }

      this.errTags = null;
      return true;
    },

    showMe () {
      this.obj.modal('show');

      const swiper = this.swiper;
      this.obj.on('shown.bs.modal', function () {
        swiper.update(true);
      });

      this.$emit('modal-shown', this.$options.name);
    },

    okBtn () {
      if (!this.checkTags()) {
        return;
      }

      axios.post(this.route('topic', 'voting'), {
        length: $(this.swiper.slides[this.swiper.activeIndex]).data('value'),
        answers: this.tags,
        type: this.type,
        privacy: this.privacy,
      }).then(response => {
        if (response.status === 200) {
          this.obj.modal('hide');
          toastr.success(Lang.get('messages.now.voting-start.success-start'));
        }
      }).catch(error => {
        if (error.response
          && typeof error.response.data !== 'undefined'
          && typeof error.response.data.error !== 'undefined') {
          toastr.error(error.response.data.error );
        }
        else {
          toastr.error(Lang.get('messages.now.voting-start.fail-start'));
        }
      });
    }
  }
}
</script>
