<template>
  <div class="modal fade" id="modal-suggestion-wnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{ title }}</h5>
        </div>
        <!--Body-->
        <div class="modal-body">
          <div v-if="editable">
            <div class="md-form form-group" v-bind:class="{'has-danger': errors.summary}">
              <input id="suggestion-summary" type="text" name="summary" required
                     class="form-control" v-bind:class="{'form-control-danger': errors.summary}"
                     maxlength="255" v-model="suggestion.summary">
              <label for="suggestion-summary" class="active">{{ lblSummary }}</label>
              <div class="form-control-feedback" v-if="errors.summary">{{ errors.summary }}</div>
            </div>
            <div class="md-form form-group" v-bind:class="{'has-danger': errors.details}">
              <textarea class="md-textarea form-control" type="text" id="suggestion-details" name="details"
                        style="height: 12rem;overflow-y: scroll;" v-bind:class="{'form-control-danger': errors.details}"
                        maxlength="10000" length="10000" v-model="suggestion.details"></textarea>
              <label for="suggestion-details" class="active">{{ lblDetails }}</label>
              <div class="form-control-feedback" v-if="errors.details">{{ errors.details }}</div>
            </div>
          </div>
          <div v-else>
            <div class="suggestion">
              <div class="row">
                <div class="col">
                  <span class="suggestion-author pr-1"> {{ suggestion.username }}</span>
                  <span class="suggestion-header">{{ suggestion.summary }}</span>
                </div>
              </div>
              <div class="suggestion-body">{{ suggestion.details }}</div>
            </div>
          </div>
        </div>
        <!--Footer-->
        <div class="modal-footer" v-if="editable">
          <button type="button" class="btn-flat btn-sm dark-amber-text waves-effect"
                  data-dismiss="modal">{{ cancelBtnText }}</button>
          <button type="submit" class="btn-flat btn-sm waves-effect" @click="okBtn">{{ okBtnText }}</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</template>

<script>
import store from '../store/index.js';
import { mapGetters, mapActions } from 'vuex';

export default {
  mounted() {
    this.obj = $('#modal-suggestion-wnd');
  },
  data: function () {
    return {
      obj: null,

      lblDetails: Lang.get('messages.mdl.suggestions.lbl-details'),
      lblSummary: Lang.get('messages.mdl.suggestions.lbl-summary'),
      okBtnText: Lang.get('messages.mdl.suggestions.btn-save'),
      cancelBtnText: Lang.get('messages.mdl.suggestions.btn-decline'),

      editable: null,

      suggestion: {id: null, details: null, summary: null, username: null},
      errors: {summary: null, details: null}
    }
  },
  props: {
    data: {
      type: Object,
      default: null
    },
  },
  watch: {
    data: function () {
      if (this.data !== null) {
        this.showMe();
      }
    }
  },
  computed: {
    ...mapGetters({
      route: 'route/url',
    }),

    title: function () {
      return !this.editable
        ? Lang.get('messages.mdl.suggestions.ttl-view')
        : (this.suggestion.id
          ? Lang.get('messages.mdl.suggestions.ttl-edit')
          : Lang.get('messages.mdl.suggestions.ttl-add'));
    }
  },
  methods: {
    clearObj(obj) {
      for (var member in obj) obj[member] = null;
    },

    get(id) {
      axios.get(this.route('suggestion', 'get', id)).then(response => this.suggestion = response.data);
    },

    processError(error) {
      if (error.response) {
        this.errors = error.response.data;
        for (var member in this.errors) {
          this.errors[member] = this.errors[member].join();
        }
      } else {
        toastr.error(Lang.get('messages.action-fail'));
      }
    },

    save() {
      if (this.suggestion.id) {
        axios.put(this.route('suggestion', 'update', this.suggestion.id), this.suggestion)
          .then(response => {
            if (response.status === 200) {
              this.obj.modal('hide');
              toastr.success(Lang.get('messages.mdl.suggestions.action.success-update'));
            }
          })
          .catch(error => {
            this.processError(error);
          });
      } else {
        axios.post(this.route('suggestion', 'store'), this.suggestion)
          .then(response => {
            if (response.status === 200) {
              this.obj.modal('hide');
              toastr.success(Lang.get('messages.mdl.suggestions.action.success-store'));
            }
          })
          .catch(error => {
            this.processError(error);
          });
      }
    },

    showMe () {
      this.clearObj(this.suggestion);
      this.clearObj(this.errors);

      if (this.data.id) {
        this.get(this.data.id);
      }

      this.editable = !!!this.data.view;

      this.obj.modal('show');
      this.$emit('modal-shown', this.$options.name);
    },

    okBtn () {
      if (!this.editable) {
        this.obj.modal('hide');
      } else {
        this.clearObj(this.errors);
        this.save();
      }
    }
  }
}

</script>
