//
// Colour customisation
//
// `!default` allows overriding variables that are defined before @import
//

// Border between the header (and footer) and the table body
$table-header-border: 1px solid #111 !default;

// Border of rows / cells
$table-body-border: 1px solid #ddd !default;

// Row background colour (hover, striping etc are all based on this colour and
// calculated automatically)
$table-row-background: #fff !default;

// Row colour, when selected (tr.selected)
$table-row-selected: #b0bed9 !default;

// Text colour of the interaction control elements (info, filter, paging etc)
$table-control-color: #333 !default;

// Highlight colour of the paging button for the current page
$table-paging-button-active: #ff6f00 !default;

// Hover colour of paging buttons on mouse over
$table-paging-button-hover: #ff6f00 !default;

// Colour to use when shading
$table-shade: black !default;

//
// Functions / mixins
//
@function tint( $color, $percent ) {
  @return mix(white, $color, $percent);
}

@function shade( $color, $percent ) {
  @return mix($table-shade, $color, $percent);
}

@mixin gradient( $from, $to ) {
  background-color: $from;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $from 0%, $to 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
  background: -ms-linear-gradient(top, $from 0%, $to 100%); /* IE10+ */
  background: -o-linear-gradient(top, $from 0%, $to 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, $from 0%, $to 100%); /* W3C */
}

#data-table {
  margin-top:43px;
  margin-bottom:68px;

  .datatable-hidden-tr {
    display: none;
  }
}
#data-table.dataTable {
  margin-top:0;
  margin-bottom:0;

  .datatable-hidden-tr {
    display: table-row;
  }
}
  /*
   * Table styles
   */

table.dataTable {
  thead {
    .sorting,
    .sorting_asc,
    .sorting_desc {
      cursor: pointer;
      *cursor: hand;
    }

    .sorting,
    .sorting_asc,
    .sorting_desc,
    .sorting_asc_disabled,
    .sorting_desc_disabled { }

    .sorting_desc::after,
    .sorting_asc::after {
      font: normal normal normal 0.75rem/1 "FontAwesome";
      position: relative;
      top: -1px;
      left: 0.25rem;
    }

    .sorting_desc::after {
      content: "\f161";
    }

    .sorting_asc::after {
      content: "\f160";
    }
  }
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;

  // Filtering input
  .dataTables_filter {
    float: right;
    text-align: right;
    color: $table-control-color;

    input {
      padding-bottom: 0;
      //margin:1rem 2rem 1rem 0;
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    input:focus {
      box-shadow: 0 0px 0 0 #4285F4!important;
    }
  }

  .dataTables_info {
    /*    clear: both;*/
    float: left;
    padding-top: 0.755em;
    margin:1rem 0;
  }

  // Paging
  .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;

    .pagination {
      margin-bottom: 0;
    }

    .paginate_button {
      &.active .page-link,
      &.active .page-link:hover {
        background: $table-paging-button-active;
      }

      &.disabled .page-link,
      &.disabled .page-link:hover,
      &.disabled .page-link:active {
        cursor: default;
        color: #666 !important;
      }

      .page-link:hover {
        color: white !important;
        background: $table-paging-button-hover;
      }

      .page-link:active {
        background: $table-paging-button-hover;
      }
    }

    .ellipsis {
      padding: 0 1em;
    }
  }
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper {
    .dataTables_info,
    .dataTables_paginate {
      float: none;
      text-align: center;
    }

    .dataTables_paginate {
      margin-top: 0.5em;
    }
  }
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper {
    .dataTables_length,
    .dataTables_filter {
      float: none;
      text-align: center;
    }

    .dataTables_filter {
      margin-top: 0.5em;
    }
  }
}
