/*** HELPERS */

// See the same colors on now-discussion page
$orange: #fa7100;

/* SPACING */
.px-05 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.p-sm {
  .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-right: 7px;
    padding-left: 7px;
  }
}

@media (max-width: 768px) {
  .p-sm {
    .card-link + .card-link {
      margin-left: 0.75rem!important;
    }
  }
}

.row.p-sm {
  margin-right: -30px;
  margin-left: -30px;
}

/* FONTS */
.text-size-lg {
  font-size: 1.25rem!important;
}

.text-size-md {
  font-size: 1rem!important;
}

.text-size-sm {
  font-size: 0.85rem!important;
}

.text-size-xs {
  font-size: 0.65rem!important;
}


/* TEXT transforms */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* COLORS */
.card.green .card-link,
.card.red .card-link,
.card.amber .card-link,
.card.grey .card-link {
  color:#373a3c!important;
}

.dark-amber-text {
  color: $orange!important;
}

/* BUTTONS */
.btn-floating.btn-no-shadow {
  box-shadow: none;
}
.btn-floating.btn-no-shadow:hover {
  box-shadow: none;
}
.btn-floating.btn-no-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn.btn-v-sm, .btn-v-sm {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

/* DROPDOWNS */
.dropnone {
  position: relative;

  .dropdown-toggle {
    &::after {
      border-top: 0;
      border-bottom: $caret-width solid;
    }
  }

  .dropdown-menu-up {
    top: auto;
    bottom: 100%;
  }
}

.table a.dropdown-item {
  margin-left:0;
}

/* STICKY STUFF */
.sticky-container {
  padding-left: 30px;
  padding-right: 0px;

  margin-left: -15px;
  margin-right: -15px;

  @media only screen and (max-width: 769px) {
    display: block;
  }
}

/**
 * OTHER FIXES & OVERRIDES
 **/
html,
body,
.view {
  height: 100%;
}

.md-form {
  .select-wrapper + label {
    top: 0.8rem;
  }

  .dropdown-content li > span {
    font-size: 1rem;
    padding: 0.85rem 0.85rem;
  }

  input[type=checkbox] + label {
    color:#373a3c;
  }
}

.select-wrapper.mdb-select {
  .caret {
    top: 21px;
  }

  input.select-dropdown {
    padding-bottom: 0.25rem;
    padding-top: 0.2rem;
  }
}

.view-only-form {
  input[type=text]:disabled, input[type=text][readonly="readonly"],
  input[type=password]:disabled, input[type=password][readonly="readonly"],
  input[type=email]:disabled, input[type=email][readonly="readonly"],
  input[type=url]:disabled, input[type=url][readonly="readonly"],
  input[type=time]:disabled, input[type=time][readonly="readonly"],
  input[type=date]:disabled, input[type=date][readonly="readonly"],
  input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"],
  input[type=tel]:disabled, input[type=tel][readonly="readonly"],
  input[type=number]:disabled, input[type=number][readonly="readonly"],
  input[type=search-md]:disabled, input[type=search-md][readonly="readonly"],
  input[type=search]:disabled, input[type=search][readonly="readonly"],
  textarea.md-textarea:disabled, textarea.md-textarea[readonly="readonly"] {
    color: #55595c;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
  }

  [type="checkbox"]:disabled:checked + label:before,
  [type="checkbox"][readonly="readonly"]:checked + label:before{
    border-right: 2px solid #4285f4;
    border-bottom: 2px solid #4285f4;
  }
}

.modal-content {
  .chip {
    .close {
      position: static;
      right: auto;
    }
  }

  .modal-header {
    .close {
      position: absolute;
      right: 15px;
    }
  }
}
