$slate-grey: #2e2e2e;
$pinkish-grey: #c9c9c9;
$silver: #f5f5f5;
$dodger-blue: #4285f4;
$aqua-marine: #1de9b6;
$coral: #ef5350;
$orange: #fa7100;
$orange-yellow: #fca800;
$bluish-grey: #78909c;
$peacock-blue: #01579b;
$cerulean: #0277bd;
$light-grey: #66686a;

$firstTransform: translate(-12px, -12px);
$secondTransform: rotate(45deg);

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

.now-page.now-page--discussion {
  height: calc(100% - 63px);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-family: Roboto, sans-serif;
  color: $slate-grey;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  & > .container-fluid,
  & > .container-fluid > #app,
  & > .container-fluid > #app > #app-props{
    height: 100%;
  }

  .head{
    margin-bottom: 1.5rem;

    &-title{

      padding: 12px 20px;
      background: #f5f5f5;

      &_row{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      &_text{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 20px 5px 0px;
        margin-bottom: 0;
      }

      &_subtext{
        font-size: 24px;
        padding-left: 20px;
        margin-bottom: 0;
      }
    }

    &-controls{
      flex-shrink: 0;
      text-align: right;
      vertical-align: bottom;
      white-space: nowrap;
    }
    .head-control{
      margin: 0 5px;
      padding: 8px 18px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
      border: 0;
      text-transform: uppercase;
      color: $slate-grey;
      cursor: pointer;
      background-color: #ebebeb;
      &.has-text-blue{
        color: $dodger-blue;
      }
      &.has-no-appearance{
        padding: 2px;
        font-size: 8px;
        color: $bluish-grey;
        background: none;
        vertical-align: sub;
      }
    }

    &-content{
      display: flex;
      flex-flow: row nowrap;
      // justify-content: space-between;
      align-items: center;

      &_block{
        height: 100%;
        flex: 2;
        // width: 33.33%;
        padding: 10px 20px;

        h3{
          font-size: 32px;
          margin-bottom: 0;
        }
      }

      &_label{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        color: $light-grey;
        text-transform: uppercase;
        display: block;
        height: 12px;
        margin-bottom: 3px;
      }

      .timer {
        flex: 1;
        font-family: Teko, sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: $orange;
        line-height: .5em;
        font-size: 52px;
        padding-top: 20px;
      }

    }
  }

  .empty-block-text-style, .empty-block-text-style * {
    font-family: 'Caveat Brush', sans-serif;
    font-size: 2rem;
    color: $bluish-grey;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    text-align: center;
  }

  .topic-disabled {
    color: $bluish-grey;
  }

  // & > div, #app, .now-block {
  //   height: 100%;
  // }

  // @media (max-width: 767px) {
  //   height: initial;
  // }

  .not-active .timer {
    color: $bluish-grey;
  }

  /* Suggestions */
  .suggestion-header::first-letter, .suggestion-body::first-letter {
    text-transform: capitalize;
  }

  .suggestion-author {
    font-size: 14px;
    font-weight: bold;
    color: $orange;
  }

  .suggestion-header {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: $slate-grey;
  }

  .suggestion-body {
    padding-top: 3px;
    font-size: 16px;
    letter-spacing: 1.1px;
    color: $light-grey;
    padding-bottom: 10px;
  }

  .modal {
    .suggestion-body {
      max-height: 500px;
      overflow-y: auto;
      white-space: pre-wrap;
    }
  }

  .topic-blocks {
    flex-grow: 1;
    .card {
      height: 100%;
    }

    .card, .card-header {
      border: solid 1px $silver !important;
    }

    .card-header {
      position: relative;

      &_headline{
        margin-top: 10px;
      }
    }

    .suggestions-block, .speech-block {
      overflow-y: auto;
      padding-top: 40px;
    }

    .suggestions-block {
      .suggestion-controls {
        text-align: right;

        a {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.1px;
          color: $light-grey;
          text-transform: uppercase;
          padding-right: 25px;
          padding-left: 25px;
          @media (max-width: 767px) {
            padding-right: 15px;
            padding-left: 15px;
          }
        }
        a:last-of-type {
          padding-right: 5px;

          @media (max-width: 767px) {
            padding-right: 15px;
          }
        }
      }

      .moderator-menu-btn {
        padding-right: 25px;

        .fa {
          color: $light-grey;
        }
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      hr:last-of-type {
        display: none;
      }
    }

    /* Speechlists */
    .speech-block {
      table {
        width: 100%;
      }

      .speech-id, .speech-name {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: $light-grey;
      }
      .speech-name {
        width: 100%;
      }
      .speech-controls {
        text-align: right;

        .delete-own {
          font-size: 20px;
          padding-left: 5px;
          color: $light-grey;
        }

        .moderator-menu-btn {
          padding-left: 10px;
          position: relative;
          top: -2px;

          .fa {
            color: $light-grey;
          }
        }
      }
      .speech-length {
        font-family: Teko, sans-serif;
        font-size: 21px;
        font-weight: 500;
        text-align: right;
        color: $light-grey;
      }
    }
  }

  #block-add-speaker {
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100%);
    height: 100%;
    z-index: 999;
  }

  /* Buttons */

  .btn-topic:last-of-type {
    margin-right: 0;
  }

  .mdl-button {
    &.mdl-button--topic-header {
      position: absolute;
      top: 0;
      right: 20px;
      z-index: 10;
    }

    .material-icons {
      color: #fff;
      font-size: 18px;
      font-weight: 200;
    }
  }

  .moderator-speechlist-btn {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    padding-top: 0;

    &.active > a .fa {
      @include transform($firstTransform $secondTransform);
    }

    &.active ul {
      display: block;
    }

    ul {
      display: none;
      top: 50px;
      right: 20px;
      left: auto;
      bottom: auto;
      padding-top: 30px;

      li {
        margin-bottom: 0;

        .fa {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }

  .topic-disabled {
    .card-header .h-text, .card-block-speaker * {
      color: $bluish-grey;
    }
  }

  /* Errors processing */
  .form-control-feedback {
    font-size: 0.7rem;
    top: -12px;
    position: relative;
  }

  .has-danger .form-control-feedback, .has-warning .form-control-feedback {
    color: #d9534f;
  }

  /** Autocomplete */
  .autocomplete-block {
    overflow-y: auto;
    overflow-x: hidden;
    height:100%;
  }

  .autocomplete-wrapper {
    & * {
      color: $light-grey;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    input {
      border-radius: 2px;
      background-color: #ffffff;
      padding: 10px 6px;
      width:calc(100% - 50px);
      margin: 0 15px;
      height: auto;
      border: none;
    }

    input:focus, input:active, input:hover{
      border-bottom: none;
      box-shadow:none;
    }
    .transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a {
      transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }

    .autocomplete ul {
      font-family: sans-serif;
      //position: absolute;
      list-style: none;
      //padding: 15px 0;
      margin: 0;
      display: inline-block;
      width:100%;
      margin-top: 10px;
    }

    .autocomplete ul li a {
      text-decoration: none;
      display: block;
      padding: 10px 20px;
      border-bottom: 1px solid #fff;
    }

    .autocomplete ul li a:hover, .autocomplete ul li.focus-list a {
      background: #fff;
    }

    .autocomplete ul li a span {
      display: block;
      margin-top: 3px;
      color: grey;
      font-size: 13px;
    }

    .showAll-transition {
      opacity: 1;
      height: 50px;
      overflow: hidden;
    }

    .showAll-enter {
      opacity: 0.3;
      height: 0;
    }

    .showAll-leave {
      display: none;
    }
  }

  .swiper-container {
    height: 40px;
    background-color: $silver;
    margin-bottom: 1rem;
    margin-right: -13px;
    margin-left: -13px;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      touch-action:none;
      box-shadow: inset 80px 0 50px -40px $silver, inset -80px 0px 50px -40px $silver;
      width: 100%;
      height: 40px;
    }

    .swiper-slide {
      font-size:21px;
      line-height: 40px;
      color: $bluish-grey;
      text-align: center;
    }
    .swiper-slide-active {
      color: $orange;
    }
  }

  .widget-custom-error {
    margin-top: -20px;
  }
}

#vote-wnd {
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;

    h5.modal-title {
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: $light-grey;
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding-top: 0;
    padding-bottom: 30px;

    .topic-header {
      text-align: center;
      font-size: 32px;
      color: #000;
    }

    .topic-description {
      font-size: 16px;
      letter-spacing: 1.1px;
      color: $light-grey;
    }

    .topic-description::first-letter {
      text-transform: capitalize;
    }

    .md-form label {
      left:auto;
    }

    ul {
      list-style-type: circle;
      padding-left: 2rem;

      li {
        list-style-type: circle;
      }
    }
  }

  .modal-body ~ .modal-body {
    margin-top: -5px;
    padding-top: 25px;
    padding-bottom: 0;
    border-top: 1px solid #eceeef;

    h5 {
      margin-bottom: 1.5rem;
    }

  }

  .modal-footer {
    padding: 15px;

    form.justify-content-around {
      width: 100%;
    }

    fieldset {
      padding-top:15px;
      padding-bottom:15px;
    }
  }
}
