$light-meet-skin-color: #eee;
$light-meet-font-color: #212121;

//lighter
$light-meet-hover-color: #ffb74d;
//$light-meet-hover-color: #ffcc80;
// darker
$light-meet-active-color: #ffa726;
//$light-meet-active-color: #ff9800;
$slate-grey: #2e2e2e;
$orange-yellow: #fca800;
$bluish-grey: #78909c;
$icons-color: #615f5f;

@media (min-width:1440px){.hidden-xlg-up{display:none!important}}

// Light grey skin
.light-meet-skin {
  main {
    padding-top: 1.5rem;
  }

  .side-nav {
    background-color: $slate-grey;

    .sn-avatar-wrapper img {
      border: 3px solid darken( $light-meet-skin-color, 15%);
    }

    .current-event{
      font-size: 16px;
      box-shadow: inset 3px 0 0 $orange-yellow;

      white-space: nowrap;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active{
        background-image: linear-gradient(to right, rgba($orange-yellow, .13), rgba(255, 255, 255, 0));
      }
    }

    .accordion a{
      position: relative;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      color: #fff;

      &:not(.current-event){
        padding-left: 40px;
      }

      &.active,
      &:hover,
      &:active {
        background-image: linear-gradient(to right, rgba($orange-yellow, .13), rgba(255, 255, 255, 0));
      }
    }

    .panel-title{
      margin-bottom: 0;
    }

    .panel-title a {
      position: relative;
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      color: $bluish-grey;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .panel-collapse{

      small{
        display: block;
        font-size: 10px;
        margin-top: 20px;
        padding-left: 40px;
        letter-spacing: 1px;
        color: $orange-yellow;
        text-transform: uppercase;
      }
    }

    .fa {
      color: $icons-color;
      position: absolute;
      left: 11px;
      top: 12px;

      &.fa-angle-down{
        right: 20px;
        left: auto;
        font-size: 16px;
      }
    }

    .logo {
      height: auto;
      padding:1rem 0 0.8rem;
      max-width: 240px;

      a{
        height: auto;
        width: 100%;
        padding: 10px 40px;
        line-height: initial;

        img{
          max-width: 100%;
          height: auto;
        }
      }
    }

    .logo + .divider {
      margin-top:0;
    }
  }

  .navbar.navbar-light {
    &.navbar-toggleable-md {
      align-items: center;
    }

    .fa {
      color: $light-meet-font-color;
    }

    .nav-item .dropdown-menu {
      a {
        padding: 0.5rem!important;
      }
    }

    .breadcrumb {
      padding: 0 1rem !important;
      white-space: nowrap;
      overflow: hidden;

      .breadcrumb-item + .breadcrumb-item::before {
        content: "›" !important;
      }

      .breadcrumb-item, .breadcrumb-item a, .breadcrumb-item.active {
        color: #292b2c;
        font-size: 1rem;
      }
    }

    @media only screen and (max-width: 993px) {
      .breadcrumb-dn {
        display: block;
      }
    }
  }

  .chips {
    padding-bottom:5px;
    margin-bottom: 25px;

    .chip {
      margin-bottom: 10px;
    }
  }

  .switch{
    label{
      font-size: 16px;
      font-weight: 500;
      color: $slate-grey;

      input[type=checkbox] + .lever{
        background-color: rgba(34, 31, 31, 0.26);
      }
      input[type=checkbox]:checked + .lever{
        background-color: rgba(0, 150, 136, .5);
        &:after {
          background-color: #009688;
        }
      }
    }
  }

  [v-cloak] {
    display: none;
  }

  .quickSlideIn{
    animation-duration: .1s;
  }

  .modal.fade {
    transition: opacity 0.1s linear;
  }

  .modal.fade .modal-dialog {
    transition-duration: .1s;
  }

  .is-hidden{
    display: none;
  }
}
