$color-silver: #eceff1;
$color-slate-grey: #2e2e2e;
$color-bluish-grey: #78909c;
$color-aqua-marine: #1de9b6;
$color-grey: #9b9b9b;
$color-orange: #fa7100;
$color-yellow: #FFE9BE;
$color-green: #d2fbf0;
$color-coral: #ef5350;
$spacing: 30px;

.h-topics{
  margin-top: 20px;

  &_table{

    display: table;
    width: 100%;
    user-select: none;

    &-body{
      display: table-row-group;

      .h-topics_table-row:nth-child(odd){
        background: $color-silver;
      }
      .h-topics_table-row{
        cursor: pointer;
        &:hover{
          background-color: darken($color-silver,10%) !important;
        }
      }
    }
    &-row{
      display: table-row;

      &.sortable-ghost{
        // opacity: .2;
      }
      &.sortable-chosen{
        box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.24);
      }
    }
    &-td{
      display: table-cell;
      padding: 10px;
    }

    &-btn{
      color: #222;
      margin-left: 0 !important;
      display: inline-block;
      padding: 0 10px;
      cursor: pointer;
    }

    &-handle{
      display: inline-block;
      cursor: move;
      cursor: -webkit-grab;
      padding: 0 10px;
    }

    &-empty{
      text-align: center;
      padding: 30px 10px 10px;
      width: 100%;
    }
  }

  .thead-inverse .h-topics_table-td {
    font-weight: 400;
    color: #fff;
    background: $color-bluish-grey;
  }

  .w100{
    width: 100px;
  }
  .w130{
    width: 130px;
  }
  .w60{
    width: 60px;
  }
}

.event-cards{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .ecard{
    width: 48%;
    max-width: 550px;
    margin: 1%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: opacity .3s;
    opacity: 1;
    &.hiding-items{
      opacity: 0;
    }
    &.is-green{
      background: $color-green;

      .ecard-headlines{
        background: #fff;

        .ecard-btn{
          color: $color-slate-grey;
        }
      }
      .ecard-headlines_list li + li{
        border-top-color: #eff0f4;
      }
    }
    &.is-yellow{
      background: $color-yellow;
    }

    &-title{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
      padding: $spacing;
    }

    &-headlines{
      padding: $spacing/2 $spacing 0;
      background: $color-silver;

      &_header{
        position: relative;
        padding-left: $spacing;
        color: $color-grey;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .ecard-btn{
          padding-left: 5px;
          padding-right: 0;
        }

        &:before{
          content: '№';
          display: block;
          position: absolute;
          left: 2px;
          width: 12px;
        }
      }

      &_list{
        margin-bottom: 0;
        padding-left: $spacing;

        li{
          position: relative;
          padding: 10px 0 10px;
          & + li{
            border-top: 1px solid $color-bluish-grey;
          }

          nobr{
            font-size: 12px;
            color: $color-grey;
          }
        }

        &-counter{
          position: absolute;
          display: block;
          width: $spacing;
          padding-left: $spacing/2;
          text-align: right;
          left: -$spacing*1.5;
        }
      }
    }

    &-details{
      padding: $spacing;
      line-height: 1.4em;
      &_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        small + small{
          margin-left: 15px;
        }
      }
    }


    &-btn{
      cursor: pointer;
      color: $color-slate-grey;
      font-size: 14px;
      font-weight: 500;
      padding: 6px 20px;
      text-transform: uppercase;

      &.is-orange{
        color: $color-orange;
      }
    }

    &-footer{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      padding: 0 $spacing*2 10px $spacing;

      &_btn{
        display: block;
        padding: 3px 10px;
        font-weight: normal;
        color: #292b2c;
        text-align: initial;
        white-space: nowrap;
        background: none;
        border: 0;

        &.is-dropdown{
          position: absolute;
          top: 0;
          right: 10px;
          width: 25px;
          height: 25px;
          margin-right: 0;
          text-align: center;
          // background: #ccc;
        }

        &:hover{
          background: rgba(#9b9b9b, .1);
        }
      }
    }
  }
}

.h-edit{
  color: $color-slate-grey;
  padding-bottom: 100px;

  &-head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 20px;
    background: #f5f5f5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.37);
  }

  // LAYOUT

  &-body{
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-body_content{
    flex: 2;
    width: 100%;
    padding-right: 30px;

    .md-form{
      margin-bottom: 0;
      & + .md-form{
        margin-top: 40px;
      }
    }
  }

  // CONTENT

  &-new-topic{
    position: absolute;
    top: -14px;
    right: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-orange;
    padding-right: 30px;
    cursor: pointer;
    i{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: -4px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid $color-orange;
    }
  }

  &-cards{
    margin: 0 -10px;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    &_box{
      flex-basis: 33.33%;
      max-width: 345px;
      min-width: 263px;
      padding: 10px;

      &.is-moving{
        position: relative;
        &:before{
          content: attr(data-dest);
          position: absolute;
          bottom: 20px;
          right: 2px;
          left: 2px;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 10px;
          background: $color-aqua-marine;
          z-index: 1;
        }
        &>.h-edit-card{
          opacity: .6;
          user-select: none;
          pointer-events: none;
        }
      }

      .cancel-move{
        position: absolute;
        z-index: 1;
        bottom: 27px;
        right: 10px;
      }

      @media screen and (max-width: 1575px) {
        flex-basis: 50%;
      }
      @media screen and (max-width: 1440px) {
        flex-basis: 33.33%;
      }
      @media screen and (max-width: 1279px) {
        flex-basis: 50%;
      }
      @media screen and (max-width: 920px) {
        flex-basis: 100%;
        max-width: none;
      }
    }
  }

  &-card{
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.37);

    &_head{
      font-size: 16px;
      font-weight: 500;
      padding: 10px 30px 20px;

      label{
        font-size: 20px;
      }
    }
    &_body{
      font-size: 16px;
      font-weight: bold;
      padding: 30px 20px 30px;
      background: $color-silver;
    }
    &_footer{
      text-align: right;
      padding: 20px 10px 20px 30px;
    }
  }

  // ASIDE

  &-body_aside{
    width: 300px;
  }

  &-aside_head{
    padding: 15px 15px 15px;
    background: $color-silver;
  }
  &-aside_drop{
    position: relative;
    min-height: 142px;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px dashed #979797;
    transition: background .2s;
    background: rgba($color-aqua-marine, 0);

    input[type="file"]{
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      width: 100%;
      height: 142px;
      opacity: 0;
    }

    &.is-dragover,
    &:hover{
      background: rgba($color-aqua-marine, .3);
    }
  }
  &-aside_list{
    position: relative;
    top: -1px;
    li{
      position: relative;
      padding: 11px 40px 11px 20px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color-slate-grey;
      border: solid 1px #979797;

      &+li{
        border-top: 0;
      }
      a{
        color: $color-slate-grey;
        &:hover{
          text-decoration: underline;
        }
      }
      i{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 19px;
        height: 100%;
        width: 40px;
        text-align: center;
        cursor: pointer;
        z-index: 1;
        color: $color-coral;

        &:hover{
          color: darken($color-coral, 20%);
        }
      }
    }
  }

  /* VUE animations for aside files */
  .files-list-enter-active,
  .files-list-leave-active {
    transition: all .2s;
  }
  .files-list-enter, .files-list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(50px);
  }

  // DIALOG

  &-dialog{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: $color-aqua-marine;

    &_body{
      margin-left: 6%;
      margin-right: 6%;
      padding: 20px 20px 20px 255px;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;

      @media (max-width: 1440px){
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 15px;
      }
    }

    &_select{
      white-space: nowrap;
      select{
        display: inline-block;
        margin-left: 20px;
        border: 0;
        padding: 10px 20px;
        background: #fff;
      }
    }
    &_input{
      white-space: nowrap;
      input{
        width: 60px;
        display: inline-block;
        margin-left: 20px;
        background: #fff;
        padding: 6px 10px;
        border: 0;
        &:focus{
          border-bottom: 0 !important;
          box-shadow: none !important;
        }
      }
    }
  }

  // &-group{}
  // &-group_label{
  //   text-transform: uppercase;
  //   font-size: 12px;
  //   letter-spacing: 1px;
  //   font-weight: 500;
  // }
  // &-group_input{
  //   background-color: transparent;
  //   border: none;
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  //   border-radius: 0;
  //   outline: none;
  //   height: 2.1rem;
  //   width: 100%;
  //   font-size: 1rem;
  //   box-shadow: none;
  //   box-sizing: content-box;
  //   transition: all .3s;
  // }


  &-btn{
    color: $color-slate-grey;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 9px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 0;

    &[disabled]{
      opacity: .3;
      cursor: default;
    }

    &.is-small{
      font-size: 12px;
    }
    &.is-orange{
      color: $color-orange;
    }
    &.is-grey{
      background: $color-silver;
    }
  }

}

.fixed-btn{
  position: fixed;
  bottom: 45px;
  right: 24px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    margin: 0;
  }
}

.form-control-feedback{
  color: $color-coral;
}