$bluish-grey: #78909c;

.agenda-table{
  border-bottom: 1px solid $bluish-grey;
  &_spacer{
    height: 200px;
  }
  .tr-headline{
    color: #fff;
    background: $bluish-grey;

    a{
      font-size: 12px;
      padding: 3px 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 1px solid #fff;
      color: #fff;
    }
  }

  .tr-topic{
    &_dd-toggle{
      padding: 0 10px;
    }
  }

}