$slate-grey: #2e2e2e;
$pinkish-grey: #c9c9c9;
$silver: #f5f5f5;
$dodger-blue: #4285f4;
$aqua-marine: #1de9b6;
$coral: #ef5350;
$orange: #fa7100;
$orange-yellow: #fca800;
$bluish-grey: #78909c;
$peacock-blue: #01579b;
$cerulean: #0277bd;
$light-grey: #66686a;
$f-roboto: 'Roboto';
$switch-width:34px;
$switch-bg-color: rgba(34, 31, 31, 0.26);
$switch-bg-color-checked: #009688;
$switch-trigger-color: #f1f1f1;
$switch-trigger-color-checked: #009688;
$switch-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
$switch-transition: all 0.3s ease-in-out;
$pseudo-phprefix: "::-webkit-input-placeholder" "::-moz-placeholder" ":-ms-input-placeholder" "::placeholder";
$row-padding:27px;

$firstTransform: translate(-12px, -12px);
$secondTransform: rotate(45deg);

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

.moderation-page.moderation-page--discussion {
  height: calc(100% - 63px);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  .empty-block-text-style, .empty-block-text-style * {
    font-family: 'Caveat Brush', sans-serif;
    font-size: 2rem;
    color: $bluish-grey;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    text-align: center;
  }

  .topic-disabled {
    color: $bluish-grey;
  }

  & > div, #app, .now-block {
    height: 100%;
  }

  @media (max-width: 767px) {
    height: initial;
  }

  .now-block > div {
    margin-bottom: 1.5rem;
  }

  * {
    color: $slate-grey;
  }

  @media (min-width: 768px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (min-width: 992px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (min-width: 1400px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    font-weight: 300;
    color: $slate-grey;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h6 {
    font-size: 16px;
    font-weight: 500;
    color: $light-grey;
    margin-bottom: 0;
    padding-right: 60px;
  }

  .h-text {
    line-height: 1.2;

    @media (max-width: 767px) {
      font-size: 1.5rem;
      line-height: 2.8rem;
    }
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media (min-width: 992px) {
      font-size: 1.75rem;
    }
    @media (min-width: 1400px) {
      font-size: 2.1rem;
    }
  }

  .card-block {
    .drop-down-box {
        display: none;
        position: absolute;
        top: 27px;
        right: 0;left: 0;
        height: 142px;
        border-style: dashed;
        border-color: #979797;
        border-width: 1px;
      & > span {
        font-size: 16px;
        font-weight: 500;
        line-height: 142px;
        color: $light-grey;
      }
    }
    .droplist{
      position: relative;
      min-height: 142px;
      z-index: 1;

      &:empty + .drop-down-box{
        display: block;
      }
    }

    .sortable-ghost{
      opacity: .5;
      i{
        display: none;
      }
    }
  }


  .card-more {
    float: right;
    height: 21px;
    font-size: 16px;
    margin: 5px 0px 10px;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $light-grey;
    &:hover{
      cursor:pointer;
    }
  }

  /* Topic heading block */
  .card-block-speaker {
    padding: 10px 20px;
    min-height: 58px;

    .speaker {

      margin-bottom: 12px;

      div {
        display: inline-block;
        line-height: 100%;
      }

      label {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        color: $light-grey;
        text-transform: uppercase;
        display: block;
        height: 12px;
        margin-bottom: 3px;

        @media (max-width: 766px) {
          position: relative;
          top: -10px;
        }

        span {
          height: 16px;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1px;
          color: $light-grey;
        }

      }
    }

    .timer {
      margin-bottom: -10px;
      margin-top: -10px;
    }
  }

  .card-header {

    font-family: $f-roboto;

    label {
      height: 16px;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      color: $light-grey;
      text-transform: uppercase;
    }

    i {
      color: $bluish-grey;
      margin-left: 20px;
    }

    input {
      width: 305px;
      height: 45px;
      font-size: 34px;
      font-family: $f-roboto;
      font-weight: 300;
      border-width: 0;
      color: $slate-grey;
      background-color: $silver;

      &:active, &:focus {
        outline-color:$silver;
        @at-root i {
          display: none;
        }
      }

      @mixin placeholder {
        @each $pseudo in $pseudo-phprefix {
          @at-root #{&}#{$pseudo} {
            @content
          }
        }
      }

      @include placeholder {
        height: 45px;
        font-size: 34px;
        font-weight: 300;
        color: $bluish-grey;
      }
    }

  }

  .timer {
    font-family: Teko, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: $orange;
    font-size: 3.5rem;
  }

  .not-active .timer {
    color: $bluish-grey;
  }

  /* Suggestions */
  .suggestion-header::first-letter, .suggestion-body::first-letter {
    text-transform: capitalize;
  }

  .suggestion-author {
    font-size: 14px;
    font-weight: bold;
    color: $orange;
  }

  .suggestion-header {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: $slate-grey;
  }

  .suggestion-body {
    padding-top: 5px;
    font-size: 16px;
    letter-spacing: 1.1px;
    color: $light-grey;
    padding-bottom: 10px;
  }

  .modal {
    .suggestion-body {
      max-height: 500px;
      overflow-y: auto;
      white-space: pre-wrap;
    }
  }

  #draggable {
    .hide-list {
      display:none;
    }
  }

  //.ui-draggable-draggind {
  //    background-color: black;
  //}

  .topic-blocks {
    .card {
      height: 100%;
    }

    .card, .card-header {
      border: solid 1px $silver !important;
    }

    .card-header {
      position: relative;
    }

    .suggestion{
      & + .suggestion{
        padding-top: 15px;
        border-top: solid 1px $pinkish-grey;
      }
    }

    hr {
      width:100%;
    }

    .to-new-suggestion {
      i {
          color:$light-grey;
      }
      &:hover{
        cursor:pointer;
      }

    }

    .remove-from-list {
      &:hover{
        cursor:pointer;
      }
    }

    .suggestions-block, .speech-block {
      overflow-y: auto;
      padding-top: $row-padding;
    }

    .on_drag {
      background-color:#f5f5f5;
      opacity:0.5;
      width:300px;
      padding:20px;
      height: 142px;
      overflow: hidden;
    }

    .hover_droppable{
      background-color: #ffebe8;
    }

    .moderator-menu-btn {
      padding-right: 25px;

      .fa {
        color: $light-grey;
      }
    }

    .suggestions-block {
      .suggestion-controls {
        text-align: right;

        a {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.1px;
          color: $light-grey;
          text-transform: uppercase;
          padding-right: 25px;
          padding-left: 25px;
          @media (max-width: 767px) {
            padding-right: 15px;
            padding-left: 15px;
          }
        }
        a:last-of-type {
          padding-right: 5px;

          @media (max-width: 767px) {
            padding-right: 15px;
          }
        }
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      hr:last-of-type {
        display: none;
      }
    }

    /* Speechlists */
    .speech-block {

      .suggestion {
        padding: 15px;
        border-style: dashed;
        border-top: none;
        border-color: #979797;
        border-width: 1px;
        min-height: 142px;

        &:first-child{
          border-top: 1px dashed #979797;
        }

        .moderator-menu-btn {
          margin-right: 15px;
          padding-right: 10px;
          padding-left: 10px;
          & i {
            color:$light-grey;
          }
        }

        .fa-times {
          color:$coral;
          font-weight: bold;
          font-size: 17px;
        }

        .suggestion-body {
          max-height: 80px;
          overflow: hidden;
        }

        .btn-group{
          a + a{
            margin-left: 20px;
          }
        }

      }


      background-color: #ffffff;
      padding: $row-padding 0px 0px;

      .speech-id, .speech-name {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: $light-grey;
      }
      .speech-name {
        width: 100%;
      }
      .speech-controls {
        text-align: right;

        .delete-own {
          font-size: 20px;
          padding-left: 5px;
          color: $light-grey;
        }

        .moderator-menu-btn {
          padding-left: 10px;
          position: relative;
          top: -2px;

          .fa {
            color: $light-grey;
          }
        }
      }
      .speech-length {
        font-family: Teko, sans-serif;
        font-size: 21px;
        font-weight: 500;
        text-align: right;
        color: $light-grey;
      }
    }
  }

  #block-add-speaker {
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100%);
    height: 100%;
    z-index: 999;
  }

  /* Buttons */
  .btn-topic {
    background-color: #ebebeb;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 8px 18px;
    margin-left: 5px;
    margin-right: 5px;
    color: $slate-grey !important;
  }

  .btn-save-topic {
    @extend .btn-topic;
    font-family: Roboto;
    color: $slate-grey;
    color: var(--slate-grey);
  }

  .btn-group {
      float:right;
  }

  .btn-topic:last-of-type {
    margin-right: 0;
  }

  .btn-voting {
    color: $dodger-blue !important;
  }

  .btn-settings {
    background: none;
    padding: 0 8px;

    .fa {
      font-size: 1.5rem !important;
      color: $bluish-grey !important;
    }
  }

  .mdl-button {
    &.mdl-button--topic-header {
      position: absolute;
      top: 0;
      right: 20px;
      z-index: 10;
    }

    .material-icons {
      color: #fff;
      font-size: 18px;
      font-weight: 200;
    }
  }

  .moderator-speechlist-btn {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    padding-top: 0;

    &.active > a .fa {
      @include transform($firstTransform $secondTransform);
    }

    &.active ul {
      display: block;
    }

    ul {
      display: none;
      top: 50px;
      right: 20px;
      left: auto;
      bottom: auto;
      padding-top: 30px;

      li {
        margin-bottom: 0;

        .fa {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }

  .topic-disabled {
    .card-header .h-text, .card-block-speaker * {
      color: $bluish-grey;
    }
  }

  /* Errors processing */
  .form-control-feedback {
    font-size: 0.7rem;
    top: -12px;
    position: relative;
  }

  .has-danger .form-control-feedback, .has-warning .form-control-feedback {
    color: #d9534f;
  }

  /** Autocomplete */
  .autocomplete-block {
    overflow-y: auto;
    overflow-x: hidden;
    height:100%;
  }

  .autocomplete-wrapper {
    & * {
      color: $light-grey;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    input {
      border-radius: 2px;
      background-color: #ffffff;
      padding: 10px 6px;
      width:calc(100% - 50px);
      margin: 0 15px;
      height: auto;
      border: none;
    }

    input:focus, input:active, input:hover{
      border-bottom: none;
      box-shadow:none;
    }
    .transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a {
      transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }

    .autocomplete ul {
      font-family: sans-serif;
      //position: absolute;
      list-style: none;
      //padding: 15px 0;
      margin: 0;
      display: inline-block;
      width:100%;
      margin-top: 10px;
    }

    .autocomplete ul li a {
      text-decoration: none;
      display: block;
      padding: 10px 20px;
      border-bottom: 1px solid #fff;
    }

    .autocomplete ul li a:hover, .autocomplete ul li.focus-list a {
      background: #fff;
    }

    .autocomplete ul li a span {
      display: block;
      margin-top: 3px;
      color: grey;
      font-size: 13px;
    }

    .showAll-transition {
      opacity: 1;
      height: 50px;
      overflow: hidden;
    }

    .showAll-enter {
      opacity: 0.3;
      height: 0;
    }

    .showAll-leave {
      display: none;
    }
  }

  .swiper-container {
    height: 40px;
    background-color: $silver;
    margin-bottom: 1rem;
    margin-right: -13px;
    margin-left: -13px;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      touch-action:none;
      box-shadow: inset 80px 0 50px -40px $silver, inset -80px 0px 50px -40px $silver;
      width: 100%;
      height: 40px;
    }

    .swiper-slide {
      font-size:21px;
      line-height: 40px;
      color: $bluish-grey;
      text-align: center;
    }
    .swiper-slide-active {
      color: $orange;
    }
  }

  .widget-custom-error {
    margin-top: -20px;
  }
}

#vote-wnd {
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;

    h5.modal-title {
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: $light-grey;
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding-top: 0;
    padding-bottom: 30px;

    .topic-header {
      text-align: center;
      font-size: 32px;
      color: #000;
    }

    .topic-description {
      font-size: 16px;
      letter-spacing: 1.1px;
      color: $light-grey;
    }

    .topic-description::first-letter {
      text-transform: capitalize;
    }

    .md-form label {
      left:auto;
    }

    ul {
      list-style-type: circle;
      padding-left: 2rem;

      li {
        list-style-type: circle;
      }
    }
  }

  .modal-body ~ .modal-body {
    margin-top: -5px;
    padding-top: 25px;
    padding-bottom: 0;
    border-top: 1px solid #eceeef;

    h5 {
      margin-bottom: 1.5rem;
    }

  }

  .modal-footer {
    padding: 15px;

    form.justify-content-around {
      width: 100%;
    }

    fieldset {
      padding-top:15px;
      padding-bottom:15px;
    }
  }
}
